body{
    min-height: 700px;
    background: url(hbd_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    
    overflow-x: hidden;
    overflow-y: hidden;
}

#notebook{
    position: relative;
    width: 300px;
    height: 425px;
    border: 10px solid #73BFB5;
    margin: 80px auto 0 850px;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #e6f0e6;
}

.page{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0px 0px -10px;
    border: 10px solid #73BFB5;
    backface-visibility: hidden;
    background-color: #73a3bf;
    background-size: contain;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
}

.page p{
    font-size: 1.1em;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331717;
    font-style: italic;
    text-align: center;
    margin: 30px auto 0px auto;
}

#cover{
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background:linear-gradient(215deg, #242424 , #222222);
    transform-origin:0 50%;
    transition:transform 1s;
    z-index:11;
}

#firstPage{   
    text-align:center;
        font-size: 60px;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black, 3px 3px 1px #dad418, 4px 4px 1px #ce3434;
}

#br{
    position:absolute;
    right:15%; top:0;
    width:15%; height:100%;
    background-color:#432;
}

#backCover{
    background:linear-gradient(135deg, #353535, #252525);
    z-index:0;
}

.fa-arrow-circle-right{
    position:absolute;
    bottom:5%; right:5%;
    font-size:150%;
    transition:transform 0.3s;
    text-shadow:0 0 1px white;
}

.fa-arrow-circle-left{
    position:absolute;
    left:5%; bottom:5%;
    font-size:150%;
    transition:transform 0.3s;
    text-shadow:0 0 1px white;
}

.fa-arrow-circle-left:hover, .fa-arrow-circle-right:hover{
    transform:scale(1.3);
}

#secretPaper{
    position:absolute;
    width:65%; height:65%;
    background-color:#eee;
    left:27.5%; top:33%;
    transition:transform 1s, top 1s;
    text-align:center;
    z-index:-1;
}

#hideout{
    position:absolute;
    width:100%;
    height:calc(60% - 1vmin); top:40%;
    border-top:1vmin solid black;
    background-color:#222222;
}

#secretPaper q{
    width: 80%;
    height: 80%;
    margin: auto;
    font-size: 18px;
}

.secretPaper #head {
    font-family: 'Nobile', sans-serif;
    font-size: 1.5em;
    margin: 60px auto 60px auto;
}

.strikethrough {
    text-decoration: line-through;
}

.cover-shape-large {
position: absolute;
width: 65%;
height: 48%;
top: 25%;
left: 18%;
/* transform: rotateZ(45deg); */
}

.cover-shape-large .shape-block, .cover-shape-large .shape-diamond {
background-color: #73bf8f;
}

.cover-shape-small {
position: absolute;
width: 50%;
height: 36%;
top: 30%;
left: 25%;
}

.shape-block {
position: absolute;
width: 100%;
height: 100%;
background-color: white;
border-radius: 50px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

#shape-image {
background-image: url("http://freedesignfile.com/upload/2013/02/Birthday-cake-vector-4.jpg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.shape-diamond {
position: absolute;
width: 100%;
height: 100%;
background-color: white;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
transform: rotateZ(45deg);
}

/* cake animation stuff from: https://codepen.io/WithAnEs/pen/OVZRvg
not created by me! It's by Mark Thomes.
*/
.cake {
position: absolute;
width: 100px;
height: 80px;
top: 45%;
left: 50%;
margin-top: -28px;
margin-left: -50px;
}

.cake > * {
position: absolute;
/* backface-visibility: hidden; */
}

.layer {
position: absolute;
display: block;
width: 100px;
height: 40px;
border-radius: 50%;
background-color: #553c13;
box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b, 0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b, 0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a, 0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09, 0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09;
}

.layer-top {
top: 0px;
}

.layer-middle {
top: 13.2px;
}

.layer-bottom {
top: 26.4px;
}

.icing {
top: 0.8px;
left: 2px;
background-color: #f0e4d0;
width: 96px;
height: 36px;
border-radius: 50%;
}
.icing:before {
content: "";
position: absolute;
top: 4px;
right: 5px;
bottom: 6px;
left: 5px;
background-color: #f4ebdc;
box-shadow: 0 0 4px #f6efe3, 0 0 4px #f6efe3, 0 0 4px #f6efe3;
border-radius: 50%;
/* z-index: 1; */
}

.drip {
display: block;
width: 20px;
height: 24px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
background-color: #f0e4d0;
}

.drip1 {
top: 22px;
left: 2px;
transform: skewY(15deg);
height: 19.2px;
width: 16px;
}

.drip2 {
top: 30px;
left: 72.4px;
transform: skewY(-15deg);
}

.drip3 {
top: 33.6px;
left: 36px;
width: 32px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
}

.candle {
background-color: #bf737d;
width: 6.4px;
height: 20px;
border-radius: 8px / 4px;
top: -8px;
left: 50%;
margin-left: -3.2px;
/* z-index: 10; */
}
.candle:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 6.4px;
height: 3.2px;
border-radius: 50%;
background-color: #cf969e;
}

.flame {
position: absolute;
background-color: orange;
width: 6px;
height: 14px;
border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
top: -13.6px;
left: 50%;
margin-left: -3px;
/* z-index: 10; */
box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
transform-origin: 50% 90%;
animation: flicker 1s ease-in-out infinite;
}

@keyframes flicker {
    0% {
        /* transform: rotateZ(5deg); */
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
    }
    25% {
        /* transform: rotateZ(-5deg); */
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    }
    50% {
        /* transform: rotateZ(10deg); */
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
    }
    75% {
        /* transform: rotateZ(-10deg); */
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
    }
    100% {
        /* transform: rotateZ(5deg); */
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    }
}